coverage/
configLogger/
configEntornos/
logs/
logsEntornos/
logsVue/
node_modules/
.nyc_output/
.scannerwork/
.vs/
*.bak
*.tar
**/test-report.xml
**/generated.json
entornosVue/.env.local
entornos/.env
